
Springboard Projects/Big Mountain Resort Capstone Project/DataScienceGuidedCapstone/
Job Titles.docx
Springboard Projects/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Springboard Projects/Ramen Ratings/.ipynb_checkpoints/Packaged Ramen (Japan vs. The World)-checkpoint.ipynb
Springboard Projects/.ipynb_checkpoints/Tips-checkpoint.ipynb
Springboard Projects/Predicting a Table's Tips/.ipynb_checkpoints/Data Wrangling-checkpoint.ipynb
Springboard Projects/Predicting a Table's Tips/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Springboard Projects/tips.csv
Springboard Projects/Tips.ipynb
Springboard Projects/UFC Retirement Age/.ipynb_checkpoints/Data Wrangling-checkpoint.ipynb
Springboard Projects/UFC Retirement Age/.ipynb_checkpoints/Modeling-checkpoint.ipynb
Springboard Projects/UFC Retirement Age/.ipynb_checkpoints/Modeling-checkpoint.ipynb
Springboard Projects/UFC Retirement Age/.ipynb_checkpoints/Modeling-checkpoint.ipynb
Springboard Projects/UFC Retirement Age/.ipynb_checkpoints/Modeling-checkpoint.ipynb
Springboard Projects/UFC Retirement Age/data.csv
Springboard Projects/UFC Retirement Age/data.csv.zip
Springboard Projects/UFC Retirement Age/Modeling.ipynb
Springboard Projects/UFC Retirement Age/ufc-master.csv
Springboard Projects/UFC Retirement Age/ufc-master.csv.zip
Springboard Projects/UFC Retirement Age/ufc-master.csv
Springboard Projects/UFC Retirement Age/ufc-master.csv
Springboard Projects/UFC Retirement Age/ufc-master.csv
Springboard Projects/UFC Retirement Age/ufc-master.csv
Springboard Projects/UFC Retirement Age/ufc-master.csv
Springboard Projects/Predicting a Table's Tips/.ipynb_checkpoints/Exploratory Data Anslysis-checkpoint.ipynb
Springboard Projects/Predicting a Table's Tips/tips.csv
Springboard Projects/Predicting a Table's Tips/.ipynb_checkpoints/Pre-Processing and Training Development-checkpoint.ipynb
Springboard Projects/Predicting a Table's Tips/df.csv
