
Springboard Projects/Big Mountain Resort Capstone Project/DataScienceGuidedCapstone/
Job Titles.docx
Springboard Projects/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Springboard Projects/Ramen Ratings/.ipynb_checkpoints/Packaged Ramen (Japan vs. The World)-checkpoint.ipynb
